.b-timeline
  width: 100%
  position: relative
  border: 1px solid #bbbbbb
  overflow: hidden
  min-height: 20px

.b-timeline_progress
  height: 100%
  position: absolute
  top: 0px
  background-color: darkgray
  opacity: 0.5

.b-timeline_filter
  margin: 10px 0 10px 0
  position: relative
  height: 20px
  background-color: black

.b-timeline_filter--FrameFilter
  background-color: orange
