.b-video_player
  width: 100%

.b-video_player_container
  position: relative
  z-index: 100

.b-filter_frame
  position: absolute
  z-index: 200
  display: none
  border: 1px solid black

.b-filter_frame--visible
  display: inline-block