.b-filter_frame_container
  width: 100%
  height: 100%
  position: relative

.b-filter_frame
  position: absolute
  display: none
  border: 1px solid orange
  box-sizing: border-box
  cursor: pointer
  z-index: 600

.b-filter_frame--visible
  display: inline-block

.b-filter_frame_controls
  position: absolute
  width: 100%
  height: 100%

.b-filter_frame_control
  position: absolute
  width: 10px
  height: 10px
  background-color: transparent

.b-filter_frame_controls--right_bottom
  right: -2px
  bottom: -2px
  cursor: nwse-resize
